*.idea
*.svn
.sass-cache/
node_modules/
bower_components
app/coffee/modules/locales/locale*.coffee
*.swp
*.swo
.DS_Store
.#*
/tags
tmp/
/static
/config
.vscode/
package-lock.json
./example-git/webpacks/src/vue-notifyjs