.contact {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  width: 1200px;
  margin-bottom: 20px;
}
.contact .ps {
  margin-top: 20px;
  margin-bottom: 25px;
}
.contact .prevs {
  color: #323232;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.contact .prevs:hover {
  text-decoration: underline;
}
.contact .cont-bot {
  width: 100%;
  height: 270px;
  padding: 22px 0 0 50px;
  background: #3A3A3A;
  display: flex;
}
.contact .cont-bot .kefu {
  width: 167px;
  height: 244px;
  padding-top: 20px;
}
.contact .cont-bot .kefu img {
  width: 100%;
  height: 224px;
}
.contact .cont-bot .kcontent {
  flex: 1;
}
.contact .cont-bot .kcontent h3 {
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
}
.contact .cont-bot .kcontent .mids {
  display: flex;
  height: 120px;
}
.contact .cont-bot .kcontent .mids .conncet {
  flex: 1;
  border-right: 1px solid #7A7A7A;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact .cont-bot .kcontent .mids .conncet .pline {
  width: 415px;
  height: 50px;
  font-size: 12px;
  color: #fff;
  line-height: 50px;
  background: #A7A7A7;
  padding-left: 33px;
}
.contact .cont-bot .kcontent .mids .conncet .zixun {
  height: 29px;
  width: 100%;
  font-size: 14px;
  display: flex;
  padding-left: 20px;
}
.contact .cont-bot .kcontent .mids .conncet .zixun div {
  margin: 0;
  font-size: 12px;
  color: #fff;
  margin-right: 20px;
  padding-top: 8px;
  display: flex;
}
.contact .cont-bot .kcontent .mids .conncet .zixun div img {
  width: 26px;
  height: 24px;
  margin-right: 15px;
  display: block;
  margin-top: -5px;
}
.contact .cont-bot .kcontent .mids .conncet .zixun div a {
  font-size: 12px;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
.contact .cont-bot .kcontent .mids .time {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0 25px 120px;
}
.contact .cont-bot .kcontent .mids .time p {
  font-size: 12px;
  color: #fff;
  margin: 0;
}
.contact .cont-bot .kcontent .bots {
  padding-left: 20px;
  display: flex;
  margin-top: 20px;
}
.contact .cont-bot .kcontent .bots p {
  font-size: 12px;
  color: #fff;
  margin-right: 20px;
}
.contact-style {
  width: 100%;
  height: 100%;
  min-height: 600px;
  background: #FAFAFA;
}
.contact-style .contact-banner {
  position: absolute;
  z-index: 0;
  width: 100%;
  min-width: 1366px;
}
.contact-style .contact-banner img {
  width: 100%;
  height: 660px;
}
.contact-style .contact-cent {
  z-index: 1;
  padding-bottom: 50px;
  box-sizing: border-box;
  position: relative;
}
.contact-style .contact-cent .contact-title {
  font-family: Helvetica;
  font-size: 60px;
  color: #FFFFFF;
  text-align: center;
  position: relative;
}
.contact-style .contact-cent .contact-title::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70px;
  height: 4px;
  background: #fff;
}
.contact-style .contact-cent .contact-form {
  margin: 150px auto 0;
  padding: 35px;
  box-sizing: border-box;
  width: 875px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}
.contact-style .contact-cent .contact-form h5 {
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  text-align: center;
  margin-bottom: 25px;
}
.contact-style .contact-cent .contact-form form .contact-form-item {
  display: flex;
}
.contact-style .contact-cent .contact-form form .contact-form-item .contact-form-item-input {
  margin-right: 25px;
  flex: 1;
}
.contact-style .contact-cent .contact-form form .contact-form-item .contact-form-item-input:last-child {
  margin: 0;
}
.contact-style .contact-cent .contact-form form .form-group {
  margin-bottom: 25px;
}
.contact-style .contact-cent .contact-form form textarea {
  resize: none;
}
.contact-style .contact-cent .contact-form form .btn-outline-blueblack {
  margin-top: 15px;
  background: #00183C;
  width: 100%;
  height: 50px;
  color: #fff;
}
.contact-style .contact-cent .contact-form form .btn-outline-blueblack:focus,
.contact-style .contact-cent .contact-form form .btn-outline-blueblack:hover {
  color: #fff;
  box-shadow: none;
  outline: none;
}
.contact-style .contact-cent .cantact-map {
  margin-top: 50px;
  position: relative;
}
.contact-style .contact-cent .cantact-map #map {
  width: 100%;
  height: 700px;
}
.contact-style .contact-cent .cantact-map .cantact-map-info {
  position: absolute;
  top: 50%;
  right: 150px;
  transform: translate(0, -50%);
  padding: 43px;
  box-sizing: border-box;
  width: 490px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff;
}
.contact-style .contact-cent .cantact-map .cantact-map-info .map-info-item {
  margin-bottom: 25px;
}
.contact-style .contact-cent .cantact-map .cantact-map-info .map-info-item h5 {
  margin-bottom: 12px;
  font-size: 20px;
  color: #333333;
}
.contact-style .contact-cent .cantact-map .cantact-map-info .map-info-item p {
  font-size: 16px;
  color: #666666;
}
.contact-style .contact-cent .cantact-map .cantact-map-info .map-info-item:last-child {
  margin-bottom: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}
#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}
.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}
.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
